# Tech Challenge Fase 3 - EDA
## Pós-graduação em Machine Learning
**Autor**: Alan Alves  
**Data**: 26/10/2025

In [1]:
# Carrega Módulos
import pandas as pd
from pathlib import Path
from datetime import datetime
import sys

In [2]:
# Configurações
PROJECT_ROOT = Path.cwd().parent
DATA_DIR = PROJECT_ROOT / "data"
print(f"Endereço raiz: {PROJECT_ROOT}")

Endereço raiz: /Users/alan/Data Science Projects/TechChallenge3

In [3]:
# Carrega módulos 
sys.path.append(str(Path.cwd().parent))
from src.utils import glimpse

### Inspeção Inicial

In [4]:
# Load data
airlines_path = DATA_DIR / "airlines.csv"
airport_path = DATA_DIR / "airports.csv"
flights_path = DATA_DIR / "flights.csv"

start_time = datetime.now()
airlines_df = pd.read_csv(airlines_path)
airports_df = pd.read_csv(airport_path)
flights_df = pd.read_csv(flights_path)
end_time = datetime.now()

print(f"Dados carregados com sucesso em {((end_time-start_time).seconds)} seconds.")

/var/folders/6x/tz4_svyx1mv9mc68z3jl0_s00000gn/T/ipykernel_8548/3948680493.py:9: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv(flights_path)

Dados carregados com sucesso em 22 seconds.

In [5]:
print("Airlines dataframe:")
glimpse(airlines_df)
print("\nAirports dataframe:")
glimpse(airports_df)
print("\nFlights dataframe:")
glimpse(flights_df)

Airlines dataframe:
Rows: 14
Columns: 2
           Null Count  Dtype   First Values
           ----------  -----   -------------
IATA_CODE  0           object  [UA, AA, US, F9, B6]
AIRLINE    0           object  [United Air Lines Inc., American Airlines Inc., US Airways Inc., Frontier Airlines Inc., JetBlue Airways]

Airports dataframe:
Rows: 322
Columns: 7
           Null Count  Dtype    First Values
           ----------  -----    -------------
IATA_CODE  0           object   [ABE, ABI, ABQ, ABR, ABY]
AIRPORT    0           object   [Lehigh Valley International Airport, Abilene Regional Airport, Albuquerque International Sunport, Aberdeen Regional Airport, Southwest Georgia Regional Airport]
CITY       0           object   [Allentown, Abilene, Albuquerque, Aberdeen, Albany]
STATE      0           object   [PA, TX, NM, SD, GA]
COUNTRY    0           object   [USA, USA, USA, USA, USA]
LATITUDE   3           float64  [40.65236, 32.41132, 35.04022, 45.44906, 31.53552]
LONGITUDE  3           float64  [-75.4404, -99.6819, -106.60919, -98.42183, -84.19447]

Flights dataframe:
Rows: 5819079
Columns: 31
                     Null Count  Dtype    First Values
                     ----------  -----    -------------
YEAR                 0           int64    [2015, 2015, 2015, 2015, 2015]
MONTH                0           int64    [1, 1, 1, 1, 1]
DAY                  0           int64    [1, 1, 1, 1, 1]
DAY_OF_WEEK          0           int64    [4, 4, 4, 4, 4]
AIRLINE              0           object   [AS, AA, US, AA, AS]
FLIGHT_NUMBER        0           int64    [98, 2336, 840, 258, 135]
TAIL_NUMBER          14721       object   [N407AS, N3KUAA, N171US, N3HYAA, N527AS]
ORIGIN_AIRPORT       0           object   [ANC, LAX, SFO, LAX, SEA]
DESTINATION_AIRPORT  0           object   [SEA, PBI, CLT, MIA, ANC]
SCHEDULED_DEPARTURE  0           int64    [5, 10, 20, 20, 25]
DEPARTURE_TIME       86153       float64  [2354.0, 2.0, 18.0, 15.0, 24.0]
DEPARTURE_DELAY      86153       float64  [-11.0, -8.0, -2.0, -5.0, -1.0]
TAXI_OUT             89047       float64  [21.0, 12.0, 16.0, 15.0, 11.0]
WHEELS_OFF           89047       float64  [15.0, 14.0, 34.0, 30.0, 35.0]
SCHEDULED_TIME       6           float64  [205.0, 280.0, 286.0, 285.0, 235.0]
ELAPSED_TIME         105071      float64  [194.0, 279.0, 293.0, 281.0, 215.0]
AIR_TIME             105071      float64  [169.0, 263.0, 266.0, 258.0, 199.0]
DISTANCE             0           int64    [1448, 2330, 2296, 2342, 1448]
WHEELS_ON            92513       float64  [404.0, 737.0, 800.0, 748.0, 254.0]
TAXI_IN              92513       float64  [4.0, 4.0, 11.0, 8.0, 5.0]
SCHEDULED_ARRIVAL    0           int64    [430, 750, 806, 805, 320]
ARRIVAL_TIME         92513       float64  [408.0, 741.0, 811.0, 756.0, 259.0]
ARRIVAL_DELAY        105071      float64  [-22.0, -9.0, 5.0, -9.0, -21.0]
DIVERTED             0           int64    [0, 0, 0, 0, 0]
CANCELLED            0           int64    [0, 0, 0, 0, 0]
CANCELLATION_REASON  5729195     object   [nan, nan, nan, nan, nan]
AIR_SYSTEM_DELAY     4755640     float64  [nan, nan, nan, nan, nan]
SECURITY_DELAY       4755640     float64  [nan, nan, nan, nan, nan]
AIRLINE_DELAY        4755640     float64  [nan, nan, nan, nan, nan]
LATE_AIRCRAFT_DELAY  4755640     float64  [nan, nan, nan, nan, nan]
WEATHER_DELAY        4755640     float64  [nan, nan, nan, nan, nan]

**Preparação Inicial dos Dados**  

Os dados contém três tabelas:
* `flihgts_df`(voos): é a principal tabel a e contém informação detalhada de cada voo. 
* `airlines_df`: traz o nomes da empresas de aviações.
* `airports_df` (aeroportos): traz informações sobre os aeroportos como por exemplo cidade, país etc.

**Obs.:** Existe varias colunas com falta de dados e algumas delas faltam dados para a maior parte das observações. 

O próximo passo é fazer a junção dessas três tabelas.

In [ ]:
# Preparação Inicial - junção das três tabelas

# flights com airlines e flight com airports (origem)
df = pd.merge(flights_df, airlines_df, left_on='AIRLINE', right_on='IATA_CODE').merge(airports_df, left_on= 'ORIGIN_AIRPORT', right_on= 'IATA_CODE')

def make_airport_columns_names(prefix):
    new_names_dict = {'AIRLINE_y':f'{prefix}_AIRLINE', 'AIRPORT':f'{prefix}_AIRPORT', 'CITY':f'{prefix}_CITY',
                      'STATE':f'{prefix}_STATE', 'COUNTRY':f'{prefix}_COUNTRY', 'LATITUDE':f'{prefix}_LATITUDE','LONGITUDE':f'{prefix}_LONGITUDE'}
    return new_names_dict

drop_columns = ['AIRLINE_x', 'IATA_CODE_y','IATA_CODE_x']
df.drop(columns=drop_columns, inplace=True)

df.rename(columns = make_airport_columns_names('ORIGIN'), inplace=True)

# Flight com airports (destino)
df = df.merge(airports_df, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE').rename(make_airport_columns_names('DESTINATION'))
df = df.rename(columns = make_airport_columns_names('DEST')).drop(columns=['IATA_CODE'])
print('Tabela com associações realizadas:')
df.info()

Tabela com associações realizadas:
<class 'pandas.core.frame.DataFrame'>
Index: 5332914 entries, 0 to 5332913
Data columns (total 44 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   FLIGHT_NUMBER        int64
 5   TAIL_NUMBER          object
 6   ORIGIN_AIRPORT       object
 7   DESTINATION_AIRPORT  object
 8   SCHEDULED_DEPARTURE  int64
 9   DEPARTURE_TIME       float64
 10  DEPARTURE_DELAY      float64
 11  TAXI_OUT             float64
 12  WHEELS_OFF           float64
 13  SCHEDULED_TIME       float64
 14  ELAPSED_TIME         float64
 15  AIR_TIME             float64
 16  DISTANCE             int64
 17  WHEELS_ON            float64
 18  TAXI_IN              float64
 19  SCHEDULED_ARRIVAL    int64
 20  ARRIVAL_TIME         float64
 21  ARRIVAL_DELAY        float64
 22  DIVERTED             int64
 23  CANCELLED            int64
 24  CANCELLATION_REASON  object
 25  AIR_SYSTEM_DELAY     float64
 26  SECURITY_DELAY       float64
 27  AIRLINE_DELAY        float64
 28  LATE_AIRCRAFT_DELAY  float64
 29  WEATHER_DELAY        float64
 30  ORIGIN_AIRLINE       object
 31  ORIGIN_AIRPORT       object
 32  ORIGIN_CITY          object
 33  ORIGIN_STATE         object
 34  ORIGIN_COUNTRY       object
 35  ORIGIN_LATITUDE      float64
 36  ORIGIN_LONGITUDE     float64
 37  IATA_CODE            object
 38  DEST_AIRPORT         object
 39  DEST_CITY            object
 40  DEST_STATE           object
 41  DEST_COUNTRY         object
 42  DEST_LATITUDE        float64
 43  DEST_LONGITUDE       float64
dtypes: float64(20), int64(10), object(14)
memory usage: 1.8+ GB